// FONTS ===============================

$mainFontPoppins: 'Poppins', sans-serif;

//======================================

//======================================
// C  O  L  O  R  S ====================
//======================================

// GRAYSCALE COLORS ====================

$backgroundColor-white-ish: rgba(247, 247, 247, 1);
$whiteColor: rgba(255, 255, 255, 1);
$lightGrayColor: rgba(224, 224, 224, 1);
$mediumGrayColor: rgba(102, 102, 102, 1);
$darkGrayColor: rgba(33, 33, 33, 1);

// POKEMON TYPES COLORS ================

$rockColor: rgba(182, 158, 49, 1);
$ghostColor: rgba(112, 85, 155, 1);
$steelColor: rgba(183, 185, 208, 1);
$waterColor: rgba(100, 147, 235, 1);
$grassColor: rgba(116, 203, 72, 1);
$psychicColor: rgba(251, 85, 132, 1);
$iceColor: rgba(154, 214, 223, 1);
$darkColor: rgba(117, 87, 76, 1);
$fairyColor: rgba(230, 158, 172, 1);
$normalColor: rgba(170, 166, 127, 1);
$fightingColor: rgba(193, 34, 57, 1);
$flyingColor: rgba(168, 145, 236, 1);
$poisonColor: rgba(164, 62, 158, 1);
$groundColor: rgba(222, 193, 107, 1);
$bugColor: rgba(167, 183, 35, 1);
$fireColor: rgba(245, 125, 49, 1);
$electricColor: rgba(249, 207, 48, 1);
$dragonColor: rgba(112, 55, 255, 1);

//======================================
//======================================
//======================================
