@import "./variables";
//=====================================
//======== TABLE OF CONTENTS ==========
//=====================================
/*
1. Global styles
2.
3.
4.
5.
6.



*/
//=====================================
//=====================================
//=====================================

// 1. Global styles
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $mainFontPoppins;
}