/*
1. Global styles
2. Header
3.
4.
5.
6.



*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f7f7f7;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #212121;
}

body {
  margin: 1.5em 1em 0 1em;
}

.flex-vCenter-hCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__wrapper,
.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5em;
}

.form__wrapper {
  height: 1.5em;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.form__wrapper form {
  width: 100%;
  position: relative;
}

.form__wrapper form .input-search {
  width: inherit;
  padding: 0 0 0 2.5em;
  border: none;
}

.form__wrapper form .input-search:focus {
  outline: none;
}

.form__wrapper form::before {
  content: "";
  background: url(../assets/icons/magn_glass.svg);
  background-size: cover;
  position: absolute;
  height: 1em;
  width: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 1em;
}

.header {
  width: 100%;
  padding: 0 0.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 70% 15%;
      grid-template-columns: 15% 70% 15%;
}

.page-title__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-title__wrapper .page-title {
  font-size: 1.5em;
}

.pokeball-icon__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sort-type__az {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.5em 0.5em;
      grid-template-rows: 0.5em 0.5em;
  row-gap: 0.1em;
  margin-right: 0.4em;
}

.sort-type__az .letter__a,
.sort-type__az .letter__z {
  font-size: 0.5em;
}

.down-arrow-icon__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pokeball-icon {
  height: 1.5em;
}

.down-arrow-icon {
  height: 1.2em;
}

.pokemon-cards__wrapper {
  width: 100%;
  padding: 0.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
}

.pokemon-cards__wrapper .pokemon-card {
  width: 100%;
  min-width: 0;
  min-height: 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0.5em;
  overflow: hidden;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__header {
  width: 100%;
  padding: 0.25em 0.5em 0 0.5em;
  text-align: right;
  font-size: 0.5em;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__sprite {
  width: 100%;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__pokemon-name {
  height: 1.5em;
  width: 100%;
  font-size: .7em;
  color: white;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */