@import "./variables";

//test
body {
  margin: 0 10%;
  background: linear-gradient($whiteColor, $backgroundColor-white-ish, $lightGrayColor, $mediumGrayColor, $darkGrayColor);
}
.test_wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  .test {
    margin: 1em;
    width: 50px;
    height: 50px;
    border: 1px solid black;
  }
  .a {
    background-color: $ghostColor;
  }
  .b {
      background-color: $grassColor;
  }
  .c {
      background-color: $psychicColor;
  }
  .d {
      background-color: $darkColor;
  }
  .e {
      background-color: $electricColor;
  }
  .f {
      background-color: $groundColor;
  }
  .g {
      background-color: $dragonColor;
  }
  .h {
      background-color: $waterColor;
  }
  .i {
      background-color: $normalColor;
  }
  .j {
      background-color: $fightingColor;
  }
  .k {
      background-color: $iceColor;
  }
  .l {
      background-color: $flyingColor;
  }
  .m {
      background-color: $fairyColor;
  }
  .n {
      background-color: $rockColor;
  }
  .o {
      background-color: $bugColor;
  }
  .p {
      background-color: $steelColor;
  }
  .q {
      background-color: $poisonColor;
  }
  .r {
      background-color: $fireColor;
  }
}
