@import "./variables";
//=====================================
//======== TABLE OF CONTENTS ==========
//=====================================
/*
1. Global styles
2. Header
3.
4.
5.
6.



*/
//=====================================
//=====================================
//=====================================

// 1. Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $backgroundColor-white-ish;
  font-family: $mainFontPoppins;
  font-size: 16px;
  color: $darkGrayColor;
}
body {
  margin: 1.5em 1em 0 1em;
}

.flex-vCenter-hCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
//=====================================
//=========== 2. HEADER ===============
//=====================================
.header__wrapper,
.form__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.form__wrapper {
  height: 1.5em;
  border: 1px solid $lightGrayColor;
  border-radius: 10px;
  overflow: hidden;
  form {
    width: 100%;
    position: relative;
    .input-search {
      width: inherit;
      padding: 0 0 0 2.5em;
      border: none;
      &:focus {
        outline: none;
      }
    }
    &::before {
      content: "";
      background: url(../assets/icons/magn_glass.svg);
      background-size: cover;
      position: absolute;
      height: 1em;
      width: 1em;
      top: 50%;
      transform: translateY(-50%);
      left: 1em;
    }
  }
}
.header {
  width: 100%;
  padding: 0 0.5em;
  display: grid;
  grid-template-columns: 15% 70% 15%;
}
.page-title__wrapper {
  display: flex;
  align-items: center;
  .page-title {
    font-size: 1.5em;
  }
}
.pokeball-icon__container {
  height: 100%;
  display: flex;
  align-items: center;
}
.sort {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.sort-type__az {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5em 0.5em;
  row-gap: 0.1em;
  margin-right: 0.4em;
  .letter__a,
  .letter__z {
    font-size: 0.5em;
  }
}
.down-arrow-icon__container {
  display: flex;
  align-items: center;
}
.pokeball-icon {
  height: 1.5em;
}
.down-arrow-icon {
  height: 1.2em;
}
//=====================================
//=====================================
//=====================================
//=======3. POKEMON CARDS =============
//=====================================

.pokemon-cards__wrapper {
  width: 100%;
  padding: 0.5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
  .pokemon-card {
    width: 100%;
    min-width: 0;
    min-height: 7em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5em;
    overflow: hidden;
    .pokemon-card__header {
      width: 100%;
      font-size: 0.5em;
      padding: 0.5em 1em 0 1em;
      text-align: right;
    }
    .pokemon-card__header--rock {
      color: $rockColor;
    }
    .pokemon-card__header--ghost {
      color: $ghostColor;
    }
    .pokemon-card__header--steel {
      color: $steelColor;
    }
    .pokemon-card__header--water {
      color: $waterColor;
    }
    .pokemon-card__header--grass {
      color: $grassColor;
    }
    .pokemon-card__header--psychic {
      color: $psychicColor;
    }
    .pokemon-card__header--ice {
      color: $iceColor;
    }
    .pokemon-card__header--dark {
      color: $darkColor;
    }
    .pokemon-card__header--fairy {
      color: $fairyColor;
    }
    .pokemon-card__header--normal {
      color: $normalColor;
    }
    .pokemon-card__header--fighting {
      color: $fightingColor;
    }
    .pokemon-card__header--flying {
      color: $flyingColor;
    }
    .pokemon-card__header--poison {
      color: $poisonColor;
    }
    .pokemon-card__header--ground {
      color: $groundColor;
    }
    .pokemon-card__header--bug {
      color: $bugColor;
    }
    .pokemon-card__header--fire {
      color: $fireColor;
    }
    .pokemon-card__header--electric {
      color: $electricColor;
    }
    .pokemon-card__header--dragon {
      color: $dragonColor;
    }
    .pokemon-card__sprite {
      width: 100%;
    }
    .pokemon-card__pokemon-name {
      height: 1.5em;
      width: 100%;
      font-size: 0.7em;
      color: $whiteColor;
      text-align: center;
    }
    .pokemon-card__pokemon-name--rock {
      background-color: $rockColor;
    }
    .pokemon-card__pokemon-name--ghost {
      background-color: $ghostColor;
    }
    .pokemon-card__pokemon-name--steel {
      background-color: $steelColor;
    }
    .pokemon-card__pokemon-name--water {
      background-color: $waterColor;
    }
    .pokemon-card__pokemon-name--grass {
      background-color: $grassColor;
    }
    .pokemon-card__pokemon-name--psychic {
      background-color: $psychicColor;
    }
    .pokemon-card__pokemon-name--ice {
      background-color: $iceColor;
    }
    .pokemon-card__pokemon-name--dark {
      background-color: $darkColor;
    }
    .pokemon-card__pokemon-name--fairy {
      background-color: $fairyColor;
    }
    .pokemon-card__pokemon-name--normal {
      background-color: $normalColor;
    }
    .pokemon-card__pokemon-name--fighting {
      background-color: $fightingColor;
    }
    .pokemon-card__pokemon-name--flying {
      background-color: $flyingColor;
    }
    .pokemon-card__pokemon-name--poison {
      background-color: $poisonColor;
    }
    .pokemon-card__pokemon-name--ground {
      background-color: $groundColor;
    }
    .pokemon-card__pokemon-name--bug {
      background-color: $bugColor;
    }
    .pokemon-card__pokemon-name--fire {
      background-color: $fireColor;
    }
    .pokemon-card__pokemon-name--electric {
      background-color: $electricColor;
    }
    .pokemon-card__pokemon-name--dragon {
      background-color: $dragonColor;
    }
  }

  // Variants of color of card border, depending on type of pokemon.
  .pokemon-card--rock {
    border: 1px solid $rockColor;
  }
  .pokemon-card--ghost {
    border: 1px solid $ghostColor;
  }
  .pokemon-card--steel {
    border: 1px solid $steelColor;
  }
  .pokemon-card--water {
    border: 1px solid $waterColor;
  }
  .pokemon-card--grass {
    border: 1px solid $grassColor;
  }
  .pokemon-card--psychic {
    border: 1px solid $psychicColor;
  }
  .pokemon-card--ice {
    border: 1px solid $iceColor;
  }
  .pokemon-card--dark {
    border: 1px solid $darkColor;
  }
  .pokemon-card--fairy {
    border: 1px solid $fairyColor;
  }
  .pokemon-card--normal {
    border: 1px solid $normalColor;
  }
  .pokemon-card--fighting {
    border: 1px solid $fightingColor;
  }
  .pokemon-card--flying {
    border: 1px solid $flyingColor;
  }
  .pokemon-card--poison {
    border: 1px solid $poisonColor;
  }
  .pokemon-card--ground {
    border: 1px solid $groundColor;
  }
  .pokemon-card--bug {
    border: 1px solid $bugColor;
  }
  .pokemon-card--fire {
    border: 1px solid $fireColor;
  }
  .pokemon-card--electric {
    border: 1px solid $electricColor;
  }
  .pokemon-card--dragon {
    border: 1px solid $dragonColor;
  }
}
