/*
1. Global styles
2. Header
3.
4.
5.
6.



*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f7f7f7;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #212121;
}

body {
  margin: 1.5em 1em 0 1em;
}

.flex-vCenter-hCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__wrapper,
.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5em;
}

.form__wrapper {
  height: 1.5em;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.form__wrapper form {
  width: 100%;
  position: relative;
}

.form__wrapper form .input-search {
  width: inherit;
  padding: 0 0 0 2.5em;
  border: none;
}

.form__wrapper form .input-search:focus {
  outline: none;
}

.form__wrapper form .button-search {
  background: url(../assets/icons/magn_glass.svg);
  background-size: cover;
  position: absolute;
  border: none;
  height: 1em;
  width: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 1em;
  cursor: pointer;
}

.header {
  width: 100%;
  padding: 0 0.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 70% 15%;
      grid-template-columns: 15% 70% 15%;
}

.page-title__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-title__wrapper .page-title {
  font-size: 1.5em;
}

.pokeball-icon__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sort-type__az {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.5em 0.5em;
      grid-template-rows: 0.5em 0.5em;
  row-gap: 0.1em;
  margin-right: 0.4em;
}

.sort-type__az .letter__a,
.sort-type__az .letter__z {
  font-size: 0.5em;
}

.down-arrow-icon__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pokeball-icon {
  height: 1.5em;
}

.down-arrow-icon {
  height: 1.2em;
}

.pokemon-cards__wrapper {
  width: 100%;
  padding: 0.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
}

.pokemon-cards__wrapper .pokemon-card {
  width: 100%;
  min-width: 0;
  min-height: 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0.5em;
  overflow: hidden;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__header {
  width: 100%;
  font-size: 0.5em;
  padding: 0.5em 1em 0 1em;
  text-align: right;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__header--rock {
  color: #b69e31;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__header--ghost {
  color: #70559b;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__header--steel {
  color: #b7b9d0;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__header--water {
  color: #6493eb;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__header--grass {
  color: #74cb48;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__header--psychic {
  color: #fb5584;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__header--ice {
  color: #9ad6df;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__header--dark {
  color: #75574c;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__header--fairy {
  color: #e69eac;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__header--normal {
  color: #aaa67f;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__header--fighting {
  color: #c12239;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__header--flying {
  color: #a891ec;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__header--poison {
  color: #a43e9e;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__header--ground {
  color: #dec16b;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__header--bug {
  color: #a7b723;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__header--fire {
  color: #f57d31;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__header--electric {
  color: #f9cf30;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__header--dragon {
  color: #7037ff;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__sprite {
  width: 100%;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__pokemon-name {
  height: 1.5em;
  width: 100%;
  font-size: 0.7em;
  color: white;
  text-align: center;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__pokemon-name--rock {
  background-color: #b69e31;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__pokemon-name--ghost {
  background-color: #70559b;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__pokemon-name--steel {
  background-color: #b7b9d0;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__pokemon-name--water {
  background-color: #6493eb;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__pokemon-name--grass {
  background-color: #74cb48;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__pokemon-name--psychic {
  background-color: #fb5584;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__pokemon-name--ice {
  background-color: #9ad6df;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__pokemon-name--dark {
  background-color: #75574c;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__pokemon-name--fairy {
  background-color: #e69eac;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__pokemon-name--normal {
  background-color: #aaa67f;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__pokemon-name--fighting {
  background-color: #c12239;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__pokemon-name--flying {
  background-color: #a891ec;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__pokemon-name--poison {
  background-color: #a43e9e;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__pokemon-name--ground {
  background-color: #dec16b;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__pokemon-name--bug {
  background-color: #a7b723;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__pokemon-name--fire {
  background-color: #f57d31;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__pokemon-name--electric {
  background-color: #f9cf30;
}

.pokemon-cards__wrapper .pokemon-card .pokemon-card__pokemon-name--dragon {
  background-color: #7037ff;
}

.pokemon-cards__wrapper .pokemon-card--rock {
  border: 1px solid #b69e31;
}

.pokemon-cards__wrapper .pokemon-card--ghost {
  border: 1px solid #70559b;
}

.pokemon-cards__wrapper .pokemon-card--steel {
  border: 1px solid #b7b9d0;
}

.pokemon-cards__wrapper .pokemon-card--water {
  border: 1px solid #6493eb;
}

.pokemon-cards__wrapper .pokemon-card--grass {
  border: 1px solid #74cb48;
}

.pokemon-cards__wrapper .pokemon-card--psychic {
  border: 1px solid #fb5584;
}

.pokemon-cards__wrapper .pokemon-card--ice {
  border: 1px solid #9ad6df;
}

.pokemon-cards__wrapper .pokemon-card--dark {
  border: 1px solid #75574c;
}

.pokemon-cards__wrapper .pokemon-card--fairy {
  border: 1px solid #e69eac;
}

.pokemon-cards__wrapper .pokemon-card--normal {
  border: 1px solid #aaa67f;
}

.pokemon-cards__wrapper .pokemon-card--fighting {
  border: 1px solid #c12239;
}

.pokemon-cards__wrapper .pokemon-card--flying {
  border: 1px solid #a891ec;
}

.pokemon-cards__wrapper .pokemon-card--poison {
  border: 1px solid #a43e9e;
}

.pokemon-cards__wrapper .pokemon-card--ground {
  border: 1px solid #dec16b;
}

.pokemon-cards__wrapper .pokemon-card--bug {
  border: 1px solid #a7b723;
}

.pokemon-cards__wrapper .pokemon-card--fire {
  border: 1px solid #f57d31;
}

.pokemon-cards__wrapper .pokemon-card--electric {
  border: 1px solid #f9cf30;
}

.pokemon-cards__wrapper .pokemon-card--dragon {
  border: 1px solid #7037ff;
}
/*# sourceMappingURL=style.css.map */